.product {
    display: flex;
    flex-direction: column;
    /* align everything in the center */
    align-items: center;
    /* push the content(images etc) towards the bottom of the page */
    justify-content: flex-end;
    /* for all sides */
    margin: 10px;
    padding: 20px;
    width: 100%;
    /* limits */
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

/* 'product' 's child */
.product > img {
    max-height: 200px;
    width: 100%;
    /* For the broken image! */
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #864a29;
}